.container{
    border:none;
    height:500px;
    display:flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.card{
    border:none;
    border-radius:20px; 
    background-color:rgb(79, 196, 220);
    width:40%;
    height:220px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.229);
}
.dice{
    border:none;
    font-size: 30px;
    border-top: 3px solid rgb(247, 247, 252);
    border-radius: 50%;
}
#Dbut{
    border:none;
    border-radius: 10px;;
    background-color: rgb(243, 243, 252);
    height: 30px;
    color:rgb(22, 146, 171);
    padding: 10px;
    margin-bottom: 50px;
    bottom:10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.274);

}
